<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
</head>
<body>
<h3>Welcome <span th:if="${session.user!= null} " th:text="${session.user.username}"></span></h3>
<table border="1px">
    <tr>
        <td>ID</td>
        <td>文件原始名称</td>
        <td>文件的新名称</td>
        <td>文件后缀</td>
        <td>储存路径</td>
        <td>文件大小</td>
        <td>类型</td>
        <td>是否是图片</td>
        <td>下载此时</td>
        <td>上传时间</td>
        <td>操作</td>
    </tr>
    <tr th:each="file:${userFiles}">
        <td><span th:text="${file.id}"></span></td>
        <td><span th:text="${file.oldFileName}"></span></td>
        <td><span th:text="${file.newFileName}"></span></td>
        <td><span th:text="${file.ext}"></span></td>
        <td><span th:text="${file.path}"></span></td>
        <td><span th:text="${file.size}"></span></td>
        <td><span th:text="${file.type}"></span></td>
        <td>
            <img th:if="${file.isImg}=='是'" th:src="${#servletContext.contextPath}+${file.path}+ '/'+${file.newFileName} " style="width: 100px; height: 80px">
            <span th:if="${file.isImg}!='是'" th:text="${file.isImg}"></span>
        </td>
        <td><span th:text="${file.downcount}"></span></td>
        <td><span th:text="${file.uploadTime}"></span></td>
        <td>
            <a th:href="@{/file/download(id=${file.id})}">下载</a>
            <a th:href="@{/file/download(id=${file.id},openStyle = 'inline')}">在线打开</a>
            <a th:href="@{/file/delect(id=${file.id})}">删除</a>
        </td>
    </tr>
</table>
<br>
<h3>
    上传文件
</h3>
<form action="/files/file/uploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file"> <input type="submit" value="上传文件">
</form>
</body>
</html>