<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
</head>
<body>
<h3>Welcome <span th:if="${session.user!= null} " th:text="${session.user.username}"></span></h3>
<table border="1px">
    <tr>
        <td>ID</td>
        <td>文件原始名称</td>
        <td>文件的新名称</td>
        <td>文件后缀</td>
        <td>储存路径</td>
        <td>文件大小</td>
        <td>类型</td>
        <td>是否是图片</td>
        <td>下载此时</td>
        <td>上传时间</td>
        <td>操作</td>
    </tr>
    <tr th:each="file,fileStat: ${userFiles}">
        <td><span th:text="${fild.id}"></span></td>
        <td><span th:text="${fild.oldFileName}"></span></td>
        <td><span th:text="${fild.newFileName}"></span></td>
        <td><span th:text="${fild.ext}"></span></td>
        <td><span th:text="${fild.path}"></span></td>
        <td><span th:text="${fild.size}"></span></td>
        <td><span th:text="${fild.type}"></span></td>
        <td><span th:text="${fild.isImg}"></span></td>
        <td><span th:text="${fild.downcounts}"></span></td>
        <td><span th:text="${fild.uploadTime}"></span></td>
        <td>
            <a href="">下载</a>
            <a href="">在线打开</a>
            <a href="">删除</a>
        </td>
    </tr>
</table>
<br>
<h3>
    上传文件
</h3>
<form action="">
    <input type="file" name="aaa"> <input type="submit" value="上传文件">
</form>
</body>
</html>